[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ffmpeg-python = "*"
fastai = "*"
starlette = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
